@media (max-width: 1350px) {
    .container {
        max-width: 100%;
        padding: 0 50px;
    }

    .product {
        width: 30%;

        &__image {
            display: flex;
            justify-content: center;

            img {
                width: 175px;

            }
        }
    }

    .category {
        &__items {
            // justify-content: center;
        }
    }
}

@media (max-width: 1200px) {

    .product {
        width: 28%;

        &__image {
            display: flex;
            justify-content: center;

            img {
                width: 175px;

            }
        }
    }
}

@media (max-width: 992px) {
    .product__name {
        font-size: 18px;
        line-height: 25px;
    }

    .main {
        &__title {
            font-size: 45px;
        }
    }

    .form {
        &__label {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .footer-item {
        &__title {
            font-size: 25px;
            line-height: 30px;
        }

        &__link {
            font-size: 14px;
            line-height: 18px;
        }

        &__logo {
            width: 175px;
            height: 175px;
        }
    }

    .category {
        &__title {
            font-size: 24px;
            line-height: 32px;
        }

    }

    .navigation {
        &__link {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media (max-width: 860px) {
    .main {
        margin-top: 60px;
    }

    .product {
        padding: 25px 15px 16px;

        &__image {
            margin-bottom: 10px;
            padding: 20px 15px 0px;

            img {
                width: 100%;
                height: 110px;
            }

        }

        &__price {
            font-size: 26px;
            line-height: 30px;
        }

        &__name {
            margin-bottom: 10px;
            line-height: 1.1;
        }
    }
}

@media (max-width: 760px) {

    .product {
        width: 44%;
        margin: 0 0 10px;
    }

    .category {
        &__items {
            margin: 0;
            justify-content: space-between;
        }
    }

    .main {
        &__title {
            font-size: 30px;
            line-height: 37px;

        }
    }

    .delivery {
        &__type {
            padding: 5px 16px;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .basket {
        &__total {
            font-size: 16px;
            line-height: 21px;
        }

    }

    .social {
        &__link {
            margin: 0 10px;
        }
    }

}

@media (max-width: 720px) {
    .burger {
        display: block;

        &__btn {


            &--open {
                span {
                    width: 0;
                }

                &:before {
                    transform: rotate(-45deg);
                    width: 20px;
                    bottom: 4px;
                    height: 2px;
                    left: 5px;
                }

                &:after {
                    transform: rotate(45deg);
                    width: 20px;
                    top: 11px;
                    left: 2px;
                }
            }
        }
    }

    .navigation {
        padding: 10px 0;


        &__list {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #fff;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 50px 15px;

            &--open {
                display: flex;
            }

        }
    }

    .footer {
        padding-top: 100px;

        &__logo {
            img {
                width: 120px;
                height: 50px;
            }

        }

        &__list {
            flex-wrap: wrap;
        }

        &__share {
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 15px;
        }
    }

    .footer-item {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;

        &--logo {
            order: -1;
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .social {}
}

@media (max-width: 680px) {
    .product {
        width: 320px;
    }

    .category {
        &__items {
            justify-content: center;
        }
    }

    .main {
        &__title {
            line-height: 30px;
            font-size: 24px;
        }
    }

    .form {
        flex-direction: column;
        align-items: flex-start;

        &__item {
            margin-bottom: 10px;
            margin-right: 0;
            width: 100%;
        }

        &__label {
            width: 80px;
            font-size: 18px;
            line-height: 26px;
        }

        &__input {
            padding: 6px 10px;
            flex-grow: 1;
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 20px;
    }

    .main {
        margin-top: 30px;

        &__head {
            flex-direction: column;
        }

        &__title {
            margin-bottom: 15px;
        }
    }

    .navigation {
        margin-top: 10px;
    }

    .category {
        &__title {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 480px) {
    .product {
        width: 90%;
    }

    .footer-item {
        width: 100%;

        &__title {
            font-size: 20px;
            line-height: 26px;
        }

        &__link {
            font-size: 12px;
            line-height: 15px;
        }

        &__logo{
            width: 130px;
            height: 130px;
        }
    }

    .footer {
        &__bottom {
            margin-top: 20px;
        }
    }
}

@media (max-width: 320px) {}