.header {
    padding: 33px 0 19px;
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__burger {
        position: relative;
        height: 24px;
        width: 24px;
        border: none;
        background: none;

        span{
            background: #000000;
            display: block;
            height: 2px;
            width: 10px;
            position: absolute;
            top: 50%;
            left: 4px;
            transform: translateY(-50%);

        }

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            height: 2px;
            left: 4px;
            width: 16px;
            background: #000000;

        }
        
        &:before{
            content: '';
            display: block;
            position: absolute;
            bottom: 5px;
            height: 2px;
            left: 4px;
            width: 16px;
            background: #000000;

        }
    }

 

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.basket {
    background: #E4002B;
    border-radius: 50px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__total {
        font-family: $CabinCondensed;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-align: right;

        color: #FFFFFF;
    }

    &__image {
        margin-left: 6px;
    }
}