.navigation {
    margin-top: 82px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #fff;

    &__wrapper {}

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        padding: 16px 0;
        position: relative;

    }

    &__link {
        font-family: $BarlowCondensed;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #9D9D9D;
        cursor: pointer;

        &--active {
            color: #E4002B;

            &:after{
                content: '';
                height: 2px;
                width: 100%;
                background: #E4022B;
                left: 0;
                bottom: 0;
                position: absolute;
            }
        }
    }
}